<!doctype html>
<!--
Website By Miradontsoa / MiVFX
http://twitter.com/miradontsoa
http://miradontsoa.com
-->

<html class="no-js" lang="en">

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">

  <!-- Page Title Here -->
  <title>Casely - A portfolio / onepage template</title>

  <!-- Meta -->
  <!-- Page Description Here -->
  <meta name="description" content="A beautiful and creative portfolio template. It is mobile friend (responsive) and comes with smooth animations">

  <!-- Disable screen scaling-->
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, user-scalable=0">

  <!-- Twitter Meta -->
  <meta name="twitter:site" content="@miradontsoa">
  <meta name="twitter:creator" content="@miradontsoa">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="Page Title">
  <meta name="twitter:description" content="Description of the page">
  <meta name="twitter:image" content="/img/bg-default.jpg">

  <!-- Facebook Meta -->
  <meta property="og:url" content="your website url here">
  <meta property="og:title" content="Page Title">
  <meta property="og:description" content="Description of the page">
  <meta property="og:type" content="website">
  <meta property="og:image" content="/img/bg-default.jpg">
  <meta property="og:image:secure_url" content="/img/bg-default.jpg">
  <meta property="og:image:type" content="image/jpg">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">

  <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->
  <!-- Web fonts and Web Icons -->
  <link rel="stylesheet" href="./fonts/opensans/stylesheet.css">
  <link rel="stylesheet" href="./fonts/bebas/stylesheet.css">
  <link rel="stylesheet" href="./fonts/ionicons.min.css">
  <link rel="stylesheet" href="./fonts/font-awesome.min.css">

  <!-- Vendor CSS style -->
  <link rel="stylesheet" href="./css/pageloader.css">

  <!-- Uncomment below to load individualy vendor CSS -->
  <link rel="stylesheet" href="./css/bootstrap.min.css">
  <link rel="stylesheet" href="./js/vendor/swiper.min.css">
  <link rel="stylesheet" href="./js/vendor/jquery.fullpage.min.css">
  <link rel="stylesheet" href="./js/vegas/vegas.min.css">

  <!-- Main CSS files -->
  <link rel="stylesheet" href="./css/main.css">

  <!-- add alt layout here -->

  <script src="./js/vendor/modernizr-2.7.1.min.js"></script>
</head>

<body id="menu" class="body-page">
  <!--[if lt IE 8]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

  <!-- Page Loader : just comment these lines to remove it -->
  <div class="page-loader" id="page-loader">
    <div>
      <div class="icon ion-spin"></div>
      <p>loading</p>
    </div>
  </div>

  <!-- BEGIN OF site header Menu -->
  <header class="page-header navbar page-header-alpha scrolled-white menu-right topmenu-right">

    <!-- Begin of menu icon toggler -->
    <button class="navbar-toggler site-menu-icon" id="navMenuIcon">
      <!-- Available class : menu-icon-dot / menu-icon-thick /menu-icon-random -->
      <span class="menu-icon menu-icon-random">
        <span class="bars">
          <span class="bar1"></span>
          <span class="bar2"></span>
          <span class="bar3"></span>
        </span>
      </span>
    </button>
    <!-- End of menu icon toggler -->

    <!-- Begin of logo/brand -->
    <a class="navbar-brand" href="./#">
      <span class="logo">
        <img class="light-logo" src="img/logo.png" alt="Logo">
      </span>
      <span class="text">
        <span class="line">Casely demo</span>
        <span class="line sub">Portfolio Template</span>
      </span>
    </a>
    <!-- End of logo/brand -->

    <!-- begin of menu wrapper -->
    <div class="all-menu-wrapper" id="navbarMenu">
      <!-- Begin of top menu -->
      <nav class="navbar-topmenu">
        <!-- Begin of CTA Actions, & Icons menu -->
        <ul class="navbar-nav navbar-nav-actions">
          <li class="nav-item">
            <a class="btn btn-outline-white btn-round" target="_blank" href="https://themeforest.net/user/mivfx/portfolio">
              Buy Now
            </a>
          </li>
        </ul>
        <!-- End of CTA & Icons menu -->
      </nav>
      <!-- End of top menu -->

      <!-- Begin of hamburger mainmenu menu -->
      <nav class="navbar-mainmenu">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="./index.html#home">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./gallery.html">Gallery</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./item.html">Item</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./demo.html#contact">Demo</a>
          </li>
        </ul>
      </nav>
      <!-- End of hamburger mainmenu menu -->

      <!-- Begin of sidebar nav menu params class: text-only / icon-only-->
      <nav class="navbar-sidebar icon-only">
        <ul class="navbar-nav" id="qmenu">
          <li class="nav-item" data-menuanchor="style">
            <a href="#style">
              <i class="icon ion-android-color-palette"></i>
              <span class="txt">Style</span>
            </a>
          </li>
          <li class="nav-item" data-menuanchor="background">
            <a href="#background">
              <i class="icon ion-image"></i>
              <span class="txt">Background</span>
            </a>
          </li>
        </ul>
      </nav>
      <!-- End of sidebar nav menu -->
    </div>
    <!-- end of menu wrapper -->

  </header>
  <!-- END OF site header Menu-->

  <!-- BEGIN OF page cover -->
  <div class="page-cover">

  </div>
  <!--END OF page cover -->

  <!-- BEGIN OF page main content -->
  <main class="page-main page-fullpage main-anim" id="mainpage">


    <!-- Begin of list grid 1 section -->
    <div class="section section-grid section-centered demo-section" data-section="style">
      <!-- Begin of section wrapper -->
      <div class="section-wrapper fullwidth with-margin">


        <div class="section-aside aside-top anim translateUp">
          <!-- title and description -->
          <div class="title-desc">
            <h2 class="display-4 display-title anim-1">Style &amp; Colors</h2>
          </div>

        </div>

        <!-- Begin of item list -->
        <div class="section-content row justify-content-between">
          <!-- item  -->
          <div class="col-12 col-sm-6 col-md-4 center-vh">
            <div class="section-content anim translateUp">
              <div class="images text-center">
                <div class="img-frame-normal">
                  <div class="img-1 shadow">
                    <a href="index.html">
                      <img class="img" src="demopage/default.jpg" alt="Image">
                    </a>
                  </div>
                  <div class="legend text-left pos-abs">
                    <h5>Default Layout</h5>
                    <p class="small">Default CSS, just primary color is customized</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- item  -->
          <div class="col-12 col-sm-6 col-md-4 center-vh">
            <div class="section-content anim">
              <div class="images text-center">
                <div class="img-frame-normal">
                  <div class="img-1 shadow">
                    <a href="index-style1.html">
                      <img class="img" src="demopage/style1.jpg" alt="Image">
                    </a>
                  </div>
                  <div class="legend text-left pos-abs">
                    <h5>Style 1</h5>
                    <p class="small">Sample CSS customizing page color : black text and white background</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- item  -->
          <div class="col-12 col-sm-6 col-md-4 center-vh">
            <div class="section-content anim translateDown">
              <div class="images text-center">
                <div class="img-frame-normal">
                  <div class="img-1 shadow">
                    <a href="index-style2.html">
                      <img class="img" src="demopage/style2.jpg" alt="Image">
                    </a>
                  </div>
                  <div class="legend text-left pos-abs">
                    <h5>Style 2</h5>
                    <p class="small">Custom CSS overriding typography</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End of item list -->

      </div>
      <!-- End of section wrapper -->
    </div>
    <!-- End of list grid 1 section -->

    <!-- Begin of list grid 1 section -->
    <div class="section section-grid section-centered demo-section" data-section="background">
      <!-- Begin of section wrapper -->
      <div class="section-wrapper fullwidth with-margin">


        <div class="section-aside aside-top anim translateUp">
          <!-- title and description -->
          <div class="title-desc">
            <h2 class="display-4 display-title anim-1">Background</h2>
          </div>

        </div>

        <!-- Begin of item list -->
        <div class="section-content row justify-content-between">
          <!-- item  -->
          <div class="col-12 col-sm-6 col-md-4 center-vh">
            <div class="section-content anim translateUp">
              <div class="images text-center">
                <div class="img-frame-normal">
                  <div class="img-1 shadow">
                    <a href="index-particle.html">
                      <img class="img" src="demopage/particle.jpg" alt="Image">
                    </a>
                  </div>
                  <div class="legend text-left pos-abs">
                    <h5>Particle</h5>
                    <p class="small">Particle animation layer</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- item  -->
          <div class="col-12 col-sm-6 col-md-4 center-vh">
            <div class="section-content anim">
              <div class="images text-center">
                <div class="img-frame-normal">
                  <div class="img-1 shadow">
                    <a href="index-slideshow.html">
                      <img class="img" src="demopage/slideshow.jpg" alt="Image">
                    </a>
                  </div>
                  <div class="legend text-left pos-abs">
                    <h5>Slideshow</h5>
                    <p class="small">Fullscreen background image slideshow</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- item  -->
          <div class="col-12 col-sm-6 col-md-4 center-vh">
            <div class="section-content anim translateDown">
              <div class="images text-center">
                <div class="img-frame-normal">
                  <div class="img-1 shadow">
                    <a href="index-video.html">
                      <img class="img" src="demopage/video.jpg" alt="Image">
                    </a>
                  </div>
                  <div class="legend text-left pos-abs">
                    <h5>Video</h5>
                    <p class="small">Fullscreen video background</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End of item list -->

      </div>
      <!-- End of section wrapper -->
    </div>
    <!-- End of list grid 1 section -->

  </main>
  <!-- END OF page main content -->

  <!-- BEGIN OF page footer -->
  <footer id="site-footer" class="page-footer">
    <!-- Left content -->

    <!-- Right content -->
    <div class="footer-right">
      <p class="note">DESIGNED BY
        <a href="https://themeforest.com/user/mivfx/portfolio">
          <span class="marked">MIVFX</span>
        </a>
      </p>
      <ul class="social">
        <li>
          <a href="//twitter.com/miradontsoa">
            <i class="icon fa fa-twitter"></i>
          </a>
        </li>
        <li>
          <a href="//miradontsoa.com">
            <i class="icon fa fa-cloud"></i>
          </a>
        </li>
      </ul>
    </div>
  </footer>
  <!-- END OF site footer -->

  <!-- scripts -->
  <!-- All Javascript plugins goes here -->
  <script src="./js/vendor/jquery-1.12.4.min.js"></script>
  <script src="./js/slick/slick.min.js"></script>

  <!-- All vendor scripts -->
  <script src="./js/vendor/parallax.min.js"></script>
  <script src="./js/vendor/scrolloverflow.min.js"></script>
  <script src="./js/vendor/all.js"></script>
  <script src="./js/particlejs/particles.min.js"></script>

  <!-- Countdown script -->
  <script src="./js/jquery.downCount.js"></script>

  <!-- Form script -->
  <script src="./js/form_script.js"></script>

  <!-- Javascript main files -->
  <script src="./js/main.js"></script>


</body>

</html>