<!doctype html>
<!--
Website By Miradontsoa / MiVFX
http://twitter.com/miradontsoa
http://miradontsoa.com
-->

<html class="no-js" lang="en">

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">

  <!-- Page Title Here -->
  <title>Casely - A portfolio / onepage template</title>

  <!-- Meta -->
  <!-- Page Description Here -->
  <meta name="description" content="A beautiful and creative portfolio template. It is mobile friend (responsive) and comes with smooth animations">

  <!-- Disable screen scaling-->
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, user-scalable=0">

  <!-- Twitter Meta -->
  <meta name="twitter:site" content="@miradontsoa">
  <meta name="twitter:creator" content="@miradontsoa">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="Page Title">
  <meta name="twitter:description" content="Description of the page">
  <meta name="twitter:image" content="/img/bg-default.jpg">

  <!-- Facebook Meta -->
  <meta property="og:url" content="your website url here">
  <meta property="og:title" content="Page Title">
  <meta property="og:description" content="Description of the page">
  <meta property="og:type" content="website">
  <meta property="og:image" content="/img/bg-default.jpg">
  <meta property="og:image:secure_url" content="/img/bg-default.jpg">
  <meta property="og:image:type" content="image/jpg">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">

  <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->
  <!-- Web fonts and Web Icons -->
  <link rel="stylesheet" href="./fonts/opensans/stylesheet.css">
  <link rel="stylesheet" href="./fonts/bebas/stylesheet.css">
  <link rel="stylesheet" href="./fonts/ionicons.min.css">
  <link rel="stylesheet" href="./fonts/font-awesome.min.css">

  <!-- Vendor CSS style -->
  <link rel="stylesheet" href="./css/pageloader.css">

  <!-- Uncomment below to load individualy vendor CSS -->
  <link rel="stylesheet" href="./css/bootstrap.min.css">
  <link rel="stylesheet" href="./js/vendor/swiper.min.css">
  <link rel="stylesheet" href="./js/vendor/jquery.fullpage.min.css">
  <link rel="stylesheet" href="./js/vegas/vegas.min.css">

  <!-- Main CSS files -->
  <link rel="stylesheet" href="./css/main.css">

  <!-- add alt layout here -->
  <link rel="stylesheet" href="./css/style-color1.css">

  <script src="./js/vendor/modernizr-2.7.1.min.js"></script>
</head>

<body id="menu" class="body-page">
  <!--[if lt IE 8]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

  <!-- Page Loader : just comment these lines to remove it -->
  <div class="page-loader" id="page-loader">
    <div>
      <div class="icon ion-spin"></div>
      <p>loading</p>
    </div>
  </div>

  <!-- BEGIN OF site header Menu -->
  <header class="page-header page-header-gallery navbar page-header-alpha scrolled-white menu-right topmenu-right">

    <!-- Begin of menu icon toggler -->
    <button class="navbar-toggler site-menu-icon" id="navMenuIcon">
      <!-- Available class : menu-icon-dot / menu-icon-thick /menu-icon-random -->
      <span class="menu-icon menu-icon-random">
        <span class="bars">
          <span class="bar1"></span>
          <span class="bar2"></span>
          <span class="bar3"></span>
        </span>
      </span>
    </button>
    <!-- End of menu icon toggler -->

    <!-- Begin of logo/brand -->
    <a class="navbar-brand" href="./#">
      <span class="logo">
        <img class="light-logo" src="img/logo.png" alt="Logo">
      </span>
      <span class="text">
        <span class="line">Casely</span>
        <span class="line sub">Portfolio Template</span>
      </span>
    </a>
    <!-- End of logo/brand -->

    <!-- begin of menu wrapper -->
    <div class="all-menu-wrapper" id="navbarMenu">
      <!-- Begin of top menu -->
      <nav class="navbar-topmenu">
        <!-- Begin of CTA Actions, & Icons menu -->
        <ul class="navbar-nav navbar-nav-actions">
          <li class="nav-item">
            <a class="btn btn-outline-white btn-round" target="_blank" href="https://themeforest.net/user/mivfx/portfolio">
              Buy Now
            </a>
          </li>
        </ul>
        <!-- End of CTA & Icons menu -->
      </nav>
      <!-- End of top menu -->

      <!-- Begin of hamburger mainmenu menu -->
      <nav class="navbar-mainmenu">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="./index-style1.html#home">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./gallery-style1.html">Gallery</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./item-style1.html">Item</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./demo.html">Demo</a>
          </li>
        </ul>
      </nav>
      <!-- End of hamburger mainmenu menu -->

    </div>
    <!-- end of menu wrapper -->

  </header>
  <!-- END OF site header Menu-->


  <main class="page-main page-fullpage main-anim" id="gallerypage">

    <!-- Begin of description section -->
    <div class="section section-gallery-item fp-auto-height-responsive main-home" data-section="gallery-item-1">
      <div class="section-cover-full fit mask-layer bg-img" data-image-src="./img/items/img-sample8.jpg">
      </div>

      <!-- Begin of section wrapper -->
      <div class="section-wrapper fullwidth with-margin pt-0">

        <!-- content -->
        <div class="section-content anim">
          <div class="row">
            <div class="col-12 col-lg-6 text-left">
              <!-- title and description -->
              <div class="title-desc">
                <h1 class="display-4 display-title anim-1">Aurora</h1>
                <h4 class="display-normal strong anim-2">Project / Branding</h4>
                <p class="anim-2">Here is a page showing an amazing project, product or anything awesome.
                  Replace this text by yours.</p>
              </div>

              <!-- Action button -->
              <div class="btns-action anim-3">
                <a class="btn btn-circicon btn-primary" href="item.html">
                  <span class="icon">
                    <i class="ion ion-chevron-right"></i>
                  </span>
                  <span class="text">View Item</span>
                </a>
              </div>
            </div>

          </div>
        </div>

        <!-- aside footer -->
        <div class="section-aside aside-bottom anim gallery-nav">
          <!-- Action button -->
          <div class="btns-action anim-4 btns-transp-arrow-margin">
            <a class="btn btn-transp-arrow btn-primary icon-only scroll up" href="#">
              <span class="icon arrow-left"></span>
            </a>
            <a class="btn btn-transp-arrow btn-primary icon-only scroll down" href="#">
              <span class="icon arrow-right"></span>
            </a>
          </div>
        </div>


      </div>
      <!-- End of section wrapper -->
    </div>
    <!-- End of description section -->

    <!-- Begin of description section -->
    <div class="section section-gallery-item fp-auto-height-responsive " data-section="gallery-item-2">
      <div class="section-cover-full fit mask-layer bg-img" data-image-src="./img/items/img-sample5.jpg">
      </div>

      <!-- Begin of section wrapper -->
      <div class="section-wrapper fullwidth with-margin pt-0">

        <!-- content -->
        <div class="section-content anim">
          <div class="row">
            <div class="col-12 col-lg-6 text-left">
              <!-- title and description -->
              <div class="title-desc">
                <h1 class="display-4 display-title anim-1">Polar</h1>
                <h4 class="display-normal strong anim-2">Photography / Nature</h4>
                <p class="anim-2">Here is a page showing an amazing project, product or anything awesome.
                  Replace this text by yours.</p>
              </div>

              <!-- Action button -->
              <div class="btns-action anim-3">
                <a class="btn btn-circicon btn-primary" href="item.html">
                  <span class="icon">
                    <i class="ion ion-chevron-right"></i>
                  </span>
                  <span class="text">View Item</span>
                </a>
              </div>
            </div>

          </div>
        </div>

        <!-- aside footer -->
        <div class="section-aside aside-bottom anim gallery-nav">
          <!-- Action button -->
          <div class="btns-action anim-4 btns-transp-arrow-margin">
            <a class="btn btn-transp-arrow btn-primary icon-only scroll up" href="#">
              <span class="icon arrow-left"></span>
            </a>
            <a class="btn btn-transp-arrow btn-primary icon-only scroll down" href="#">
              <span class="icon arrow-right"></span>
            </a>
          </div>
        </div>


      </div>
      <!-- End of section wrapper -->
    </div>
    <!-- End of description section -->

    <!-- Begin of description section -->
    <div class="section section-gallery-item fp-auto-height-responsive " data-section="gallery-item-3">
      <div class="section-cover-full fit mask-layer bg-img" data-image-src="./img/items/img-sample3.jpg">
      </div>

      <!-- Begin of section wrapper -->
      <div class="section-wrapper fullwidth with-margin pt-0">

        <!-- content -->
        <div class="section-content anim">
          <div class="row">
            <div class="col-12 col-lg-6 text-left">
              <!-- title and description -->
              <div class="title-desc">
                <h1 class="display-4 display-title anim-1">Orion</h1>
                <h4 class="display-normal strong anim-2">Product / Web App</h4>
                <p class="anim-2">Here is a page showing an amazing project, product or anything awesome.
                  Replace this text by yours.</p>
              </div>

              <!-- Action button -->
              <div class="btns-action anim-3">
                <a class="btn btn-circicon btn-primary" href="item.html">
                  <span class="icon">
                    <i class="ion ion-chevron-right"></i>
                  </span>
                  <span class="text">View Item</span>
                </a>
              </div>
            </div>

          </div>
        </div>

        <!-- aside footer -->
        <div class="section-aside aside-bottom anim gallery-nav">
          <!-- Action button -->
          <div class="btns-action anim-4 btns-transp-arrow-margin">
            <a class="btn btn-transp-arrow btn-primary icon-only scroll up" href="#">
              <span class="icon arrow-left"></span>
            </a>
            <a class="btn btn-transp-arrow btn-primary icon-only scroll down" href="#">
              <span class="icon arrow-right"></span>
            </a>
          </div>
        </div>


      </div>
      <!-- End of section wrapper -->
    </div>
    <!-- End of description section -->

  </main>
  <!-- END OF page main content -->

  <!-- BEGIN OF page footer -->
  <footer id="site-footer" class="page-footer">

    <!-- Right content -->
    <div class="footer-right">
      <p class="note">Casely by
        <a href="http://highhay.com">
          <span class="marked">Miradontsoa</span>
        </a>
      </p>
      <ul class="social">
        <li>
          <a href="//facebook.com/miradontsoa">
            <i class="icon fa fa-facebook"></i>
          </a>
        </li>
        <li>
          <a href="//twitter/miradontsoa">
            <i class="icon fa fa-twitter"></i>
          </a>
        </li>
        <li>
          <a href="//instagram.com/miradontsoa">
            <i class="icon fa fa-instagram"></i>
          </a>
        </li>
      </ul>
    </div>
  </footer>
  <!-- END OF site footer -->

  <!-- scripts -->
  <!-- All Javascript plugins goes here -->
  <script src="./js/vendor/jquery-1.12.4.min.js"></script>
  <script src="./js/slick/slick.min.js"></script>

  <!-- All vendor scripts -->
  <script src="./js/vendor/parallax.min.js"></script>
  <script src="./js/vendor/scrolloverflow.min.js"></script>
  <script src="./js/vendor/all.js"></script>
  <script src="./js/particlejs/particles.min.js"></script>

  <!-- Countdown script -->
  <script src="./js/jquery.downCount.js"></script>

  <!-- Form script -->
  <script src="./js/form_script.js"></script>

  <!-- Javascript main files -->
  <script src="./js/main.js"></script>


</body>

</html>